<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout"
>

<th:block layout:fragment="css">
  <link th:href="@{/css/signin.css}" rel="stylesheet">
</th:block>

<main layout:fragment="content" class="form-signin">
    <h1 class="h2 mb-3 fw-normal font-monospace">여기 모여</h1>

    <a href="/login"><img height="40" width="100" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/></a>
</main>

</html>